# Machine-readable description of MeleeImNorden's public API, version 1.
# Served as JSON at /api/v1/openapi.json and verbatim at /api/v1/openapi.yaml.
#
# This file is part of the v1 contract: within v1 it may only grow. A change
# that alters the meaning of an existing field belongs in a new version — see
# src/Api/ApiVersion.php.
openapi: 3.1.0

info:
  title: MeleeImNorden API
  version: "1.0.0"
  summary: Read-only access to the imported Turner-Tuesday results and rankings.
  description: |
    Public, unauthenticated, read-only. Every payload is
    `{"data": …, "meta": {…}}`; errors are `application/problem+json` (RFC 9457).

    All timestamps are ISO-8601 in UTC.

    **Caching.** Every data response carries an `ETag` and `Last-Modified`; send
    them back as `If-None-Match` / `If-Modified-Since` and expect `304`.
    `meta.dataVersion` changes whenever the underlying data or the deployed
    version does — polling `GET /api/v1/meta` and comparing it is the cheapest
    way to find out whether anything needs refetching.

    **Versioning.** `GET /api/versions` lists every published version with its
    status and, once announced, its sunset date. A deprecated version also
    repeats that in the `Deprecation`, `Sunset` and `Link` response headers.
  license:
    name: Proprietary

servers:
  - url: https://melee.sandwichyo.com
    description: Production
  - url: http://localhost:8080
    description: Local Docker stack

tags:
  - name: Meta
    description: Version discovery and data freshness.
  - name: Events
    description: |
      Imported start.gg events and their results. Events without participants
      are not part of the API — they are neither listed nor readable, and no
      ranking counts them.
  - name: Rankings
    description: The quarterly ranking and the half-year power ranking.
  - name: Players
    description: Roster and per-player history.
  - name: Ranked Day
    description: Slippi's Free Ranked Day window.

paths:
  /api/versions:
    get:
      tags: [Meta]
      summary: List every published API version
      operationId: listVersions
      responses:
        "200":
          description: The version catalog.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    required: [current, versions]
                    properties:
                      current:
                        type: string
                        examples: ["v1"]
                      versions:
                        type: array
                        items: { $ref: "#/components/schemas/VersionInfo" }
                  meta: { $ref: "#/components/schemas/Meta" }

  /api/v1:
    get:
      tags: [Meta]
      summary: Index of the v1 resources
      operationId: v1Index
      responses:
        "200":
          description: Resource paths and the version's status.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    properties:
                      version: { type: string }
                      status: { type: string }
                      documentation: { type: string }
                      resources:
                        type: object
                        additionalProperties: { type: string }
                  meta: { $ref: "#/components/schemas/Meta" }

  /api/v1/meta:
    get:
      tags: [Meta]
      summary: How current the stored data is
      description: |
        Cheap enough to poll. When `meta.dataVersion` is unchanged since the last
        call, nothing else needs refetching.
      operationId: v1Meta
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Counts and the last import.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    properties:
                      eventCount: { type: integer }
                      playerCount: { type: integer }
                      lastImport:
                        oneOf:
                          - $ref: "#/components/schemas/ImportRun"
                          - type: "null"
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v1/openapi.json:
    get:
      tags: [Meta]
      summary: This document
      operationId: v1OpenApiJson
      responses:
        "200":
          description: The OpenAPI description as JSON (no data/meta envelope).
          content:
            application/json:
              schema: { type: object }

  /api/v1/openapi.yaml:
    get:
      tags: [Meta]
      summary: This document, as YAML
      operationId: v1OpenApiYaml
      responses:
        "200":
          description: The OpenAPI description as YAML.
          content:
            application/yaml:
              schema: { type: string }

  /api/v1/events:
    get:
      tags: [Events]
      summary: List imported events, newest first
      description: |
        Only events that have participants. An event without a single standing
        carries no result and is left out of every response.
      operationId: v1ListEvents
      parameters:
        - name: minEntrants
          in: query
          description: Only events with at least this many entrants.
          schema: { type: integer, minimum: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: A page of events.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/EventSummary" }
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/Meta"
                      - type: object
                        properties:
                          pagination: { $ref: "#/components/schemas/Pagination" }
        "304": { $ref: "#/components/responses/NotModified" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v1/events/{eventId}:
    get:
      tags: [Events]
      summary: One event with standings, sets and character usage
      description: |
        The raw material every ranking is built from, so a client can compute
        figures of its own. `sets` comes in bracket order and carries the round,
        the score and the characters of both sides, which is enough to redraw
        the bracket. An event without participants is reported as `404`, the
        same as an unknown id.
      operationId: v1GetEvent
      parameters:
        - name: eventId
          in: path
          required: true
          description: The start.gg event id.
          schema: { type: integer }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The event.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/EventDetail" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v1/rankings:
    get:
      tags: [Rankings]
      summary: Catalog of the ranking tables and their rules
      operationId: v1ListRankings
      responses:
        "200":
          description: One descriptor per table. No ranking is computed for this.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RankingDescriptor" }
                  meta: { $ref: "#/components/schemas/Meta" }

  /api/v1/rankings/{type}:
    get:
      tags: [Rankings]
      summary: One ranking table
      operationId: v1GetRanking
      parameters:
        - name: type
          in: path
          required: true
          description: |
            `quarterly` — the landing-page table: at least 2 attendances, no
            non-attendance malus, broken down per quarter.
            `power` — the power ranking: at least 3 attendances, +0.05 placement
            points per missed event, broken down per half-year.
          schema: { type: string, enum: [quarterly, power] }
        - name: scope
          in: query
          description: |
            `qualified` counts only events with at least 6 entrants, `all`
            counts every imported event.
          schema: { type: string, enum: [qualified, all], default: qualified }
        - name: period
          in: query
          description: Return only this period, e.g. `2026-Q3` or `2026-H1`.
          schema: { type: string }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The table, overall plus per period.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/RankingTable" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v1/players:
    get:
      tags: [Players]
      summary: Every player that ever entered an imported event
      description: |
        A roster, not a ranking: no attendance threshold and no malus.
        `averagePlacement` is the overall average across all imported events.
      operationId: v1ListPlayers
      parameters:
        - name: q
          in: query
          description: Case-insensitive substring match on the display name.
          schema: { type: string }
        - name: sort
          in: query
          schema: { type: string, enum: [name, average, attendances], default: name }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: A page of players.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/PlayerSummary" }
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/Meta"
                      - type: object
                        properties:
                          pagination: { $ref: "#/components/schemas/Pagination" }
        "304": { $ref: "#/components/responses/NotModified" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v1/players/{playerId}:
    get:
      tags: [Players]
      summary: One player's placements, head-to-head record and characters
      operationId: v1GetPlayer
      parameters:
        - name: playerId
          in: path
          required: true
          description: The prefixed start.gg identity, e.g. `player:12345`.
          schema: { type: string }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The player.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/PlayerDetail" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v1/ranked-day:
    get:
      tags: [Ranked Day]
      summary: Slippi's Free Ranked Day window
      description: |
        Computed from a fixed cadence, not fetched from Slippi. The `schedule`
        block is enough to keep counting down offline. Not conditionally
        cacheable — `secondsRemaining` moves with the clock.
      operationId: v1RankedDay
      responses:
        "200":
          description: The running window, or the next one when none is running.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/RankedDay" }
                  meta: { $ref: "#/components/schemas/Meta" }

components:
  parameters:
    IfNoneMatch:
      name: If-None-Match
      in: header
      description: The ETag of a cached copy. A match is answered with 304.
      schema: { type: string }

  headers:
    ETag:
      description: Weak validator; send it back as If-None-Match.
      schema: { type: string }

  responses:
    NotModified:
      description: The cached copy is still current. No body.
    BadRequest:
      description: A query parameter was not understood.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    NotFound:
      description: No such resource.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    Unavailable:
      description: The data store is temporarily unreachable — retry later.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

  schemas:
    Meta:
      type: object
      properties:
        apiVersion:
          type: [string, "null"]
          examples: ["v1"]
        dataUpdatedAt:
          type: [string, "null"]
          format: date-time
          description: When the newest imported row was written.
        dataVersion:
          type: string
          description: Fingerprint of the served data; unchanged means nothing moved.

    Pagination:
      type: object
      properties:
        limit: { type: integer }
        offset: { type: integer }
        total: { type: integer }
        hasMore: { type: boolean }

    Problem:
      type: object
      description: RFC 9457 problem detail.
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }

    VersionInfo:
      type: object
      properties:
        version: { type: string, examples: ["v1"] }
        status: { type: string, enum: [preview, stable, deprecated] }
        basePath: { type: string, examples: ["/api/v1"] }
        documentation: { type: string }
        releasedOn: { type: string, format: date }
        deprecatedOn: { type: [string, "null"], format: date }
        sunsetOn: { type: [string, "null"], format: date }
        successor: { type: [string, "null"] }

    ImportRun:
      type: object
      properties:
        status: { type: string, enum: [queued, running, completed, failed] }
        mode: { type: string, enum: [full, incremental] }
        startedAt: { type: [string, "null"], format: date-time }
        finishedAt: { type: [string, "null"], format: date-time }

    EventSummary:
      type: object
      properties:
        eventId: { type: integer, description: start.gg event id }
        name: { type: string }
        slug: { type: [string, "null"] }
        label: { type: string, description: Tournament and event name combined. }
        startAt: { type: [string, "null"], format: date-time }
        numEntrants: { type: [integer, "null"] }
        tournament:
          type: object
          properties:
            name: { type: string }
            slug: { type: [string, "null"] }
        startggUrl: { type: [string, "null"], format: uri }

    EventDetail:
      allOf:
        - $ref: "#/components/schemas/EventSummary"
        - type: object
          properties:
            standings:
              type: array
              items: { $ref: "#/components/schemas/Standing" }
            sets:
              type: array
              items: { $ref: "#/components/schemas/Set" }
            characters:
              type: array
              items: { $ref: "#/components/schemas/EventCharacterUsage" }

    Standing:
      type: object
      properties:
        playerId: { type: string }
        displayName: { type: string }
        placement:
          type: integer
          description: The absolute start.gg placement.
        rankPlacement:
          type: integer
          description: |
            The placement re-ranked among the stored players (standard
            competition ranking) — what the ranking average uses.

    Set:
      type: object
      description: |
        One completed set, in the bracket order start.gg played them. Only sets
        between stored players are kept. Sets imported before the bracket
        context was collected report `round`, `roundText`, `phase` and the
        scores as `null` and carry no `characters`.
      properties:
        setId: { type: integer, description: Stable id of the set within this API. }
        winnerPlayerId: { type: string }
        loserPlayerId: { type: string }
        winnerName: { type: string }
        loserName: { type: string }
        round:
          type: [integer, "null"]
          description: start.gg bracket round — positive in winners, negative in losers.
        roundText:
          type: [string, "null"]
          description: The spelled-out round, e.g. "Winners Quarter-Final".
        phase: { type: [string, "null"], description: The phase the set was played in. }
        winnerScore:
          type: [integer, "null"]
          description: Games won. Null when start.gg reports no score, e.g. a DQ.
        loserScore: { type: [integer, "null"] }
        displayScore:
          type: [string, "null"]
          description: start.gg's own rendering of the result, the fallback when there is no score.
        characters:
          type: array
          description: What both sides picked in this set.
          items: { $ref: "#/components/schemas/SetCharacterPick" }

    SetCharacterPick:
      type: object
      properties:
        playerId: { type: string }
        characterId: { type: integer }
        characterName: { type: string }
        games: { type: integer, description: Games of the set this character was picked in. }

    EventCharacterUsage:
      type: object
      properties:
        playerId: { type: string }
        characterId: { type: integer }
        characterName: { type: string }
        count: { type: integer }

    Character:
      type: object
      properties:
        characterId: { type: integer }
        characterName: { type: string }
        count: { type: integer }
        percentage: { type: number, format: float }

    RankingDescriptor:
      type: object
      properties:
        type: { type: string, enum: [quarterly, power] }
        label: { type: string }
        path: { type: string }
        periodType: { type: string, enum: [quarter, half-year] }
        scopes:
          type: array
          items:
            type: object
            properties:
              scope: { type: string, enum: [qualified, all] }
              label: { type: string }
              minimumEntrants: { type: [integer, "null"] }
        rules:
          type: object
          properties:
            minimumAttendances: { type: integer }
            nonAttendancePenalty: { type: number, format: float }

    RankingTable:
      type: object
      properties:
        type: { type: string, enum: [quarterly, power] }
        scope: { type: string, enum: [qualified, all] }
        label: { type: string }
        scopeLabel: { type: string }
        periodType: { type: string, enum: [quarter, half-year] }
        rules:
          type: object
          properties:
            minimumEntrants: { type: [integer, "null"] }
            minimumAttendances: { type: integer }
            nonAttendancePenalty: { type: number, format: float }
        overall: { $ref: "#/components/schemas/RankingSection" }
        periods:
          type: array
          items: { $ref: "#/components/schemas/RankingPeriod" }

    RankingSection:
      type: object
      properties:
        eventsConsidered: { type: integer }
        rows:
          type: array
          items: { $ref: "#/components/schemas/RankingRow" }

    RankingPeriod:
      allOf:
        - type: object
          properties:
            key: { type: string, examples: ["2026-Q3", "2026-H1"] }
            label: { type: string, examples: ["Q3 2026", "1. Halbjahr 2026"] }
        - $ref: "#/components/schemas/RankingSection"

    RankingRow:
      type: object
      properties:
        rank: { type: integer }
        playerId: { type: string }
        displayName: { type: string }
        attendances: { type: integer }
        averagePlacement:
          type: number
          format: float
          description: Average rank placement, including the malus where one applies.
        topCharacter:
          oneOf:
            - $ref: "#/components/schemas/Character"
            - type: "null"

    PlayerSummary:
      type: object
      properties:
        playerId: { type: string, examples: ["player:12345"] }
        displayName: { type: string }
        attendances: { type: integer }
        averagePlacement: { type: number, format: float }
        topCharacter:
          oneOf:
            - $ref: "#/components/schemas/Character"
            - type: "null"

    PlayerDetail:
      type: object
      properties:
        playerId: { type: string }
        displayName: { type: string }
        attendances: { type: integer }
        averagePlacement: { type: number, format: float }
        bestPlacement: { type: integer }
        placements:
          type: array
          description: Oldest first.
          items:
            type: object
            properties:
              eventId: { type: integer }
              eventName: { type: string }
              tournamentName: { type: string }
              label: { type: string }
              startAt: { type: [string, "null"], format: date-time }
              numEntrants: { type: [integer, "null"] }
              placement:
                type: integer
                description: The absolute start.gg placement.
        headToHead:
          type: object
          properties:
            summary:
              type: object
              properties:
                wins: { type: integer }
                losses: { type: integer }
            opponents:
              type: array
              items:
                type: object
                properties:
                  playerId: { type: string }
                  displayName: { type: string }
                  wins: { type: integer }
                  losses: { type: integer }
                  totalSets: { type: integer }
                  winRate: { type: number, format: float }
        characters:
          type: object
          properties:
            totalSelections: { type: integer }
            top:
              type: array
              items: { $ref: "#/components/schemas/Character" }

    RankedDay:
      type: object
      properties:
        active:
          type: boolean
          description: Whether a window is running right now.
        windowId:
          type: string
          description: Stable id of the window the payload describes.
        startsAt: { type: string, format: date-time }
        endsAt: { type: string, format: date-time }
        secondsRemaining:
          type: integer
          description: Until the running window ends, or until the next one starts.
        schedule:
          type: object
          properties:
            anchor: { type: string, format: date-time }
            cycleDays: { type: integer }
            durationHours: { type: integer }
