# Machine-readable description of MeleeImNorden's public API, version 2.
# Served as JSON at /api/v2/openapi.json and verbatim at /api/v2/openapi.yaml.
#
# v2 is a preview: it may still change in breaking ways until
# src/Api/ApiVersion.php declares it stable. From then on this file may only
# grow, like openapi_v1.yaml.
openapi: 3.1.0

info:
  title: MeleeImNorden API
  version: "2.0.0-preview"
  summary: Read-only access to the imported results and rankings of every tournament series.
  description: |
    Public, unauthenticated, read-only. Every payload is
    `{"data": …, "meta": {…}}`; errors are `application/problem+json` (RFC 9457).

    All timestamps are ISO-8601 in UTC.

    **Preview.** `GET /api/versions` reports this version as `preview`: its
    payloads may still change in breaking ways. v1 stays the stable version
    until v2 is promoted.

    **What changed from v1.**
    - Every data resource hangs below a tournament series:
      `/api/v2/series/{series}/…`. `GET /api/v2/series` lists them. v1 only
      ever served the default series (`turner-tuesday`).
    - `rankings/power` is Power Ranking v2: every event counts, weighted by how
      strong its field was, and players are ranked by a `score` (500 = league
      average) instead of an average placement. There is no attendance and no
      entrant threshold, and no `scope`.
    - `rankings/quarterly` applies the attendance threshold the series is
      configured with, and offers the `qualified` scope only where the series
      keeps a separate "6+ Teilnehmer" table — exactly what its landing page
      shows.

    **Caching.** Every data response carries an `ETag` and `Last-Modified`; send
    them back as `If-None-Match` / `If-Modified-Since` and expect `304`.
    `meta.dataVersion` changes whenever the underlying data, the series' ranking
    rules or the deployed version do — polling `GET /api/v2/meta` and comparing
    it is the cheapest way to find out whether anything needs refetching. Prefer
    the `ETag`: a changed ranking rule moves the numbers without moving
    `Last-Modified`.

    **Versioning.** `GET /api/versions` lists every published version with its
    status and, once announced, its sunset date. A deprecated version also
    repeats that in the `Deprecation`, `Sunset` and `Link` response headers.
  license:
    name: Proprietary

servers:
  - url: https://melee.sandwichyo.com
    description: Production
  - url: http://localhost:8080
    description: Local Docker stack

tags:
  - name: Meta
    description: Version discovery and data freshness.
  - name: Series
    description: The tournament series every data resource is scoped to.
  - name: Events
    description: |
      Imported start.gg events of one series and their results. Events without
      participants are not part of the API — they are neither listed nor
      readable, and no ranking counts them.
  - name: Rankings
    description: The quarterly ranking and Power Ranking v2 of one series.
  - name: Players
    description: Roster and per-player history within one series.
  - name: Ranked Day
    description: Slippi's Free Ranked Day window.

paths:
  /api/versions:
    get:
      tags: [Meta]
      summary: List every published API version
      operationId: listVersions
      responses:
        "200":
          description: The version catalog.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    required: [current, versions]
                    properties:
                      current:
                        type: string
                        description: The version new clients should build against — never a preview.
                        examples: ["v1"]
                      versions:
                        type: array
                        items: { $ref: "#/components/schemas/VersionInfo" }
                  meta: { $ref: "#/components/schemas/Meta" }

  /api/v2:
    get:
      tags: [Meta]
      summary: Index of the v2 resources
      operationId: v2Index
      responses:
        "200":
          description: Resource paths and the version's status.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    properties:
                      version: { type: string }
                      status: { type: string }
                      documentation: { type: string }
                      resources:
                        type: object
                        additionalProperties: { type: string }
                  meta: { $ref: "#/components/schemas/Meta" }

  /api/v2/meta:
    get:
      tags: [Meta]
      summary: How current the stored data is
      description: |
        Across every series. Cheap enough to poll. When `meta.dataVersion` is
        unchanged since the last call, nothing else needs refetching.
      operationId: v2Meta
      parameters:
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: Counts and the last import.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    properties:
                      eventCount: { type: integer }
                      playerCount: { type: integer }
                      lastImport:
                        oneOf:
                          - $ref: "#/components/schemas/ImportRun"
                          - type: "null"
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v2/openapi.json:
    get:
      tags: [Meta]
      summary: This document
      operationId: v2OpenApiJson
      responses:
        "200":
          description: The OpenAPI description as JSON (no data/meta envelope).
          content:
            application/json:
              schema: { type: object }

  /api/v2/openapi.yaml:
    get:
      tags: [Meta]
      summary: This document, as YAML
      operationId: v2OpenApiYaml
      responses:
        "200":
          description: The OpenAPI description as YAML.
          content:
            application/yaml:
              schema: { type: string }

  /api/v2/series:
    get:
      tags: [Series]
      summary: List every tournament series
      description: Only changes with a deploy.
      operationId: v2ListSeries
      responses:
        "200":
          description: One entry per series, in a stable order.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Series" }
                  meta: { $ref: "#/components/schemas/Meta" }

  /api/v2/series/{series}:
    get:
      tags: [Series]
      summary: One tournament series and the paths of its resources
      operationId: v2GetSeries
      parameters:
        - $ref: "#/components/parameters/Series"
      responses:
        "200":
          description: The series.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/SeriesDetail" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "404": { $ref: "#/components/responses/NotFound" }

  /api/v2/series/{series}/events:
    get:
      tags: [Events]
      summary: List the series' imported events, newest first
      description: |
        Only events that have participants. An event without a single standing
        carries no result and is left out of every response.
      operationId: v2ListEvents
      parameters:
        - $ref: "#/components/parameters/Series"
        - name: minEntrants
          in: query
          description: Only events with at least this many entrants.
          schema: { type: integer, minimum: 1 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: A page of events.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/EventSummary" }
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/Meta"
                      - type: object
                        properties:
                          pagination: { $ref: "#/components/schemas/Pagination" }
        "304": { $ref: "#/components/responses/NotModified" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v2/series/{series}/events/{eventId}:
    get:
      tags: [Events]
      summary: One event with standings, sets and character usage
      description: |
        The raw material every ranking is built from, so a client can compute
        figures of its own. `sets` comes in bracket order and carries the round,
        the score and the characters of both sides, which is enough to redraw
        the bracket. An event without participants, and an event of another
        series, is reported as `404`, the same as an unknown id.
      operationId: v2GetEvent
      parameters:
        - $ref: "#/components/parameters/Series"
        - name: eventId
          in: path
          required: true
          description: The start.gg event id.
          schema: { type: integer }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The event.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/EventDetail" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v2/series/{series}/rankings:
    get:
      tags: [Rankings]
      summary: Catalog of the series' ranking tables and their rules
      description: |
        One descriptor per table. No ranking is computed for this, but the
        quarterly rules can be changed by an admin at any time, so the response
        is validated against the data like every other one.
      operationId: v2ListRankings
      parameters:
        - $ref: "#/components/parameters/Series"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The quarterly descriptor, then the power descriptor.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RankingDescriptor" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v2/series/{series}/rankings/quarterly:
    get:
      tags: [Rankings]
      summary: The quarterly ranking — the landing-page table
      description: |
        Ranked by average placement, broken down per quarter, without a
        non-attendance malus. The attendance threshold is the one the series is
        configured with (2 unless an admin changed it) and is reported in
        `rules`.
      operationId: v2GetQuarterlyRanking
      parameters:
        - $ref: "#/components/parameters/Series"
        - name: scope
          in: query
          description: |
            `qualified` counts only events with at least 6 entrants, `all`
            counts every imported event. A series that keeps no separate
            "6+ Teilnehmer" table only offers `all`, and defaults to it;
            the others default to `qualified`. See the catalog's
            `defaultScope`.
          schema: { type: string, enum: [qualified, all] }
        - name: period
          in: query
          description: Return only this quarter, e.g. `2026-Q3`.
          schema: { type: string }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The table, overall plus per quarter.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/QuarterlyRankingTable" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: Unknown series or period, or a scope the series does not offer.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v2/series/{series}/rankings/power:
    get:
      tags: [Rankings]
      summary: Power Ranking v2
      description: |
        A placement is worth as much as the field it was earned against. Every
        player gets a strength, seeded from the average-placement ranking and
        refined until it stops moving: each result counts by how far it beat
        (or missed) what the field made expectable — placements, every set and
        tournament wins alike — and each event weighs as much as its field was
        strong. Players with few attendances stay close to the league average
        instead of being dropped.

        `score` is that strength on a display scale where 500 is the league
        average. Every half-year is computed independently from its own events
        only, so a period's scores are not slices of the overall ones.
      operationId: v2GetPowerRanking
      parameters:
        - $ref: "#/components/parameters/Series"
        - name: period
          in: query
          description: Return only this half-year, e.g. `2026-H1`. `overall` is always included.
          schema: { type: string }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The table, overall plus per half-year.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/PowerRankingTable" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "404":
          description: Unknown series or period.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v2/series/{series}/players:
    get:
      tags: [Players]
      summary: Every player that ever entered an event of the series
      description: |
        A roster, not a ranking: no attendance threshold and no malus.
        `averagePlacement` is the overall average across the series' events.
      operationId: v2ListPlayers
      parameters:
        - $ref: "#/components/parameters/Series"
        - name: q
          in: query
          description: Case-insensitive substring match on the display name.
          schema: { type: string }
        - name: sort
          in: query
          schema: { type: string, enum: [name, average, attendances], default: name }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: A page of players.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/PlayerSummary" }
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/Meta"
                      - type: object
                        properties:
                          pagination: { $ref: "#/components/schemas/Pagination" }
        "304": { $ref: "#/components/responses/NotModified" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v2/series/{series}/players/{playerId}:
    get:
      tags: [Players]
      summary: One player's placements, head-to-head record and characters in the series
      description: |
        Only this series' events count. A player who never entered one of them
        is a `404` here, even when they have a history in another series.
      operationId: v2GetPlayer
      parameters:
        - $ref: "#/components/parameters/Series"
        - name: playerId
          in: path
          required: true
          description: The prefixed start.gg identity, e.g. `player:12345`.
          schema: { type: string }
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The player.
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/PlayerDetail" }
                  meta: { $ref: "#/components/schemas/Meta" }
        "304": { $ref: "#/components/responses/NotModified" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }

  /api/v2/ranked-day:
    get:
      tags: [Ranked Day]
      summary: Slippi's Free Ranked Day window
      description: |
        Computed from a fixed cadence, not fetched from Slippi, and the same for
        every series. The `schedule` block is enough to keep counting down
        offline. Not conditionally cacheable — `secondsRemaining` moves with
        the clock.
      operationId: v2RankedDay
      responses:
        "200":
          description: The running window, or the next one when none is running.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/RankedDay" }
                  meta: { $ref: "#/components/schemas/Meta" }

components:
  parameters:
    Series:
      name: series
      in: path
      required: true
      description: The series slug, as listed by `GET /api/v2/series`.
      schema:
        type: string
        examples: ["turner-tuesday", "gelegentlich-mal-sonntags", "gelegentlich-mal-grillfest", "gemaon"]

    IfNoneMatch:
      name: If-None-Match
      in: header
      description: The ETag of a cached copy. A match is answered with 304.
      schema: { type: string }

  headers:
    ETag:
      description: Weak validator; send it back as If-None-Match.
      schema: { type: string }

  responses:
    NotModified:
      description: The cached copy is still current. No body.
    BadRequest:
      description: A query parameter was not understood.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    NotFound:
      description: No such resource — or no such series.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    Unavailable:
      description: The data store is temporarily unreachable — retry later.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

  schemas:
    Meta:
      type: object
      properties:
        apiVersion:
          type: [string, "null"]
          examples: ["v2"]
        dataUpdatedAt:
          type: [string, "null"]
          format: date-time
          description: When the newest imported row was written.
        dataVersion:
          type: string
          description: Fingerprint of the served data; unchanged means nothing moved.

    Pagination:
      type: object
      properties:
        limit: { type: integer }
        offset: { type: integer }
        total: { type: integer }
        hasMore: { type: boolean }

    Problem:
      type: object
      description: RFC 9457 problem detail.
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }

    VersionInfo:
      type: object
      properties:
        version: { type: string, examples: ["v2"] }
        status: { type: string, enum: [preview, stable, deprecated] }
        basePath: { type: string, examples: ["/api/v2"] }
        documentation: { type: string }
        releasedOn: { type: string, format: date }
        deprecatedOn: { type: [string, "null"], format: date }
        sunsetOn: { type: [string, "null"], format: date }
        successor: { type: [string, "null"] }

    ImportRun:
      type: object
      properties:
        status: { type: string, enum: [queued, running, completed, failed] }
        mode: { type: string, enum: [full, incremental] }
        startedAt: { type: [string, "null"], format: date-time }
        finishedAt: { type: [string, "null"], format: date-time }

    Series:
      type: object
      properties:
        slug: { type: string, examples: ["turner-tuesday"] }
        label: { type: string, examples: ["Turner Tuesday"] }
        subtitle: { type: string }
        isDefault:
          type: boolean
          description: The series the website opens on — and the only one v1 serves.
        path:
          type: string
          description: Base path of the series' API resources.
          examples: ["/api/v2/series/turner-tuesday"]
        websitePath:
          type: string
          description: The series' pages on the website.
          examples: ["/turner-tuesday"]
        startggUrl: { type: string, format: uri }
        images:
          type: object
          description: Branding, as paths on the website's host.
          properties:
            logo: { type: string }
            background: { type: [string, "null"] }

    SeriesDetail:
      allOf:
        - $ref: "#/components/schemas/Series"
        - type: object
          properties:
            resources:
              type: object
              description: The series' resource paths; `{eventId}` and `{playerId}` are placeholders.
              properties:
                events: { type: string }
                event: { type: string }
                rankings: { type: string }
                quarterlyRanking: { type: string }
                powerRanking: { type: string }
                players: { type: string }
                player: { type: string }

    EventSummary:
      type: object
      properties:
        eventId: { type: integer, description: start.gg event id }
        name: { type: string }
        slug: { type: [string, "null"] }
        label: { type: string, description: Tournament and event name combined. }
        startAt: { type: [string, "null"], format: date-time }
        numEntrants: { type: [integer, "null"] }
        tournament:
          type: object
          properties:
            name: { type: string }
            slug: { type: [string, "null"] }
        startggUrl: { type: [string, "null"], format: uri }

    EventDetail:
      allOf:
        - $ref: "#/components/schemas/EventSummary"
        - type: object
          properties:
            standings:
              type: array
              items: { $ref: "#/components/schemas/Standing" }
            sets:
              type: array
              items: { $ref: "#/components/schemas/Set" }
            characters:
              type: array
              items: { $ref: "#/components/schemas/EventCharacterUsage" }

    Standing:
      type: object
      properties:
        playerId: { type: string }
        displayName: { type: string }
        placement:
          type: integer
          description: The absolute start.gg placement.
        rankPlacement:
          type: integer
          description: |
            The placement re-ranked among the stored players (standard
            competition ranking) — what both rankings use.

    Set:
      type: object
      description: |
        One completed set, in the bracket order start.gg played them. Only sets
        between stored players are kept. Sets imported before the bracket
        context was collected report `round`, `roundText`, `phase` and the
        scores as `null` and carry no `characters`.
      properties:
        setId: { type: integer, description: Stable id of the set within this API. }
        winnerPlayerId: { type: string }
        loserPlayerId: { type: string }
        winnerName: { type: string }
        loserName: { type: string }
        round:
          type: [integer, "null"]
          description: start.gg bracket round — positive in winners, negative in losers.
        roundText:
          type: [string, "null"]
          description: The spelled-out round, e.g. "Winners Quarter-Final".
        phase: { type: [string, "null"], description: The phase the set was played in. }
        winnerScore:
          type: [integer, "null"]
          description: Games won. Null when start.gg reports no score, e.g. a DQ.
        loserScore: { type: [integer, "null"] }
        displayScore:
          type: [string, "null"]
          description: start.gg's own rendering of the result, the fallback when there is no score.
        characters:
          type: array
          description: What both sides picked in this set.
          items: { $ref: "#/components/schemas/SetCharacterPick" }

    SetCharacterPick:
      type: object
      properties:
        playerId: { type: string }
        characterId: { type: integer }
        characterName: { type: string }
        games: { type: integer, description: Games of the set this character was picked in. }

    EventCharacterUsage:
      type: object
      properties:
        playerId: { type: string }
        characterId: { type: integer }
        characterName: { type: string }
        count: { type: integer }

    Character:
      type: object
      properties:
        characterId: { type: integer }
        characterName: { type: string }
        count: { type: integer }
        percentage: { type: number, format: float }

    RankingDescriptor:
      type: object
      description: |
        Both tables share this shape. `power` offers no scopes, so its `scopes`
        is empty and its `defaultScope` null.
      properties:
        type: { type: string, enum: [quarterly, power] }
        label: { type: string }
        path: { type: string }
        periodType: { type: string, enum: [quarter, half-year] }
        scopes:
          type: array
          description: The scopes the series offers, the default first.
          items:
            type: object
            properties:
              scope: { type: string, enum: [qualified, all] }
              label: { type: string }
              minimumEntrants: { type: [integer, "null"] }
        defaultScope: { type: [string, "null"], enum: [qualified, all, null] }
        rules:
          oneOf:
            - $ref: "#/components/schemas/QuarterlyDescriptorRules"
            - $ref: "#/components/schemas/PowerRankingRules"

    QuarterlyDescriptorRules:
      type: object
      properties:
        minimumAttendances:
          type: integer
          description: Attendances a player needs to be listed; 1 when the series switched the rule off.

    QuarterlyRankingTable:
      type: object
      properties:
        type: { type: string, const: quarterly }
        scope: { type: string, enum: [qualified, all] }
        label: { type: string }
        scopeLabel: { type: string }
        periodType: { type: string, const: quarter }
        rules:
          type: object
          properties:
            minimumEntrants: { type: [integer, "null"] }
            minimumAttendances: { type: integer }
        overall: { $ref: "#/components/schemas/QuarterlyRankingSection" }
        periods:
          type: array
          description: Newest first.
          items: { $ref: "#/components/schemas/QuarterlyRankingPeriod" }

    QuarterlyRankingSection:
      type: object
      properties:
        eventsConsidered: { type: integer }
        rows:
          type: array
          items: { $ref: "#/components/schemas/QuarterlyRankingRow" }

    QuarterlyRankingPeriod:
      allOf:
        - type: object
          properties:
            key: { type: string, examples: ["2026-Q3"] }
            label: { type: string, examples: ["Q3 2026"] }
        - $ref: "#/components/schemas/QuarterlyRankingSection"

    QuarterlyRankingRow:
      type: object
      properties:
        rank: { type: integer }
        playerId: { type: string }
        displayName: { type: string }
        attendances: { type: integer }
        averagePlacement:
          type: number
          format: float
          description: Average rank placement.
        topCharacter:
          oneOf:
            - $ref: "#/components/schemas/Character"
            - type: "null"
        otherCharacters:
          type: array
          description: >-
            Every other character the player picked, most-played first, limited
            to those above 5% of their picks.
          items: { $ref: "#/components/schemas/Character" }

    PowerRankingRules:
      type: object
      properties:
        minimumEntrants:
          type: "null"
          description: No entrant threshold — small events weigh less instead of not counting.
        minimumAttendances:
          type: "null"
          description: No attendance threshold — rare attendees stay close to the league average instead of being dropped.
        minimumRankedEntrants:
          type: integer
          description: Events with fewer ranked entrants are skipped; without an opponent there is no result to rate.
          examples: [2]
        averageScore:
          type: number
          format: float
          description: The score of a player exactly at the league average; the table is re-centred on it.
          examples: [500.0]

    PowerRankingTable:
      type: object
      properties:
        type: { type: string, const: power }
        label: { type: string }
        periodType: { type: string, const: half-year }
        rules: { $ref: "#/components/schemas/PowerRankingRules" }
        overall: { $ref: "#/components/schemas/PowerRankingSection" }
        periods:
          type: array
          description: Newest first. Each computed from its own events only.
          items: { $ref: "#/components/schemas/PowerRankingPeriod" }

    PowerRankingSection:
      type: object
      properties:
        eventsConsidered: { type: integer }
        eventsSkipped:
          type: integer
          description: Events left out for having fewer than `rules.minimumRankedEntrants` ranked entrants.
        iterations:
          type: integer
          description: Refinement passes until strengths and event weights stopped moving.
        converged:
          type: boolean
          description: False when the pass limit was hit first — the table is then close to, but not exactly at, its fixed point.
        rows:
          type: array
          description: Highest score first.
          items: { $ref: "#/components/schemas/PowerRankingRow" }
        events:
          type: array
          description: The events this section was built from, strongest field first.
          items: { $ref: "#/components/schemas/PowerRankingEvent" }

    PowerRankingPeriod:
      allOf:
        - type: object
          properties:
            key: { type: string, examples: ["2026-H1"] }
            label: { type: string, examples: ["1. Halbjahr 2026"] }
        - $ref: "#/components/schemas/PowerRankingSection"

    PowerRankingRow:
      type: object
      properties:
        rank:
          type: integer
          description: >-
            By score; ties are broken by head-to-head sets, then attendances,
            then best placement, then name.
        playerId: { type: string }
        displayName: { type: string }
        score:
          type: number
          format: float
          description: Strength on the display scale, one decimal; `rules.averageScore` is the league average.
          examples: [612.4]
        attendances: { type: integer }
        bestPlacement:
          type: integer
          description: Best rank placement among the stored players.
        tournamentWins: { type: integer, description: Events won. }
        setWins: { type: integer, description: Sets won against other ranked entrants. }
        setLosses: { type: integer }
        averageFieldStrength:
          type: number
          format: float
          description: How strong the fields this player met were, on the same scale as `score`.
        averageEventWeight:
          type: number
          format: float
          description: Mean weight of the player's events; 1.0 is an averagely staffed event.
        topCharacter:
          oneOf:
            - $ref: "#/components/schemas/Character"
            - type: "null"
        otherCharacters:
          type: array
          description: >-
            Every other character the player picked, most-played first, limited
            to those above 5% of their picks.
          items: { $ref: "#/components/schemas/Character" }

    PowerRankingEvent:
      type: object
      properties:
        eventId: { type: integer, description: start.gg event id }
        label: { type: string }
        startAt: { type: [string, "null"], format: date-time }
        numEntrants: { type: [integer, "null"], description: Entrants according to start.gg. }
        rankedEntrants: { type: integer, description: Entrants the ranking could rate. }
        fieldStrength:
          type: number
          format: float
          description: Mean strength of the whole field, on the same scale as `score`.
        weight:
          type: number
          format: float
          description: How much the event counted; 1.0 is an averagely staffed event.

    PlayerSummary:
      type: object
      properties:
        playerId: { type: string, examples: ["player:12345"] }
        displayName: { type: string }
        attendances: { type: integer }
        averagePlacement: { type: number, format: float }
        topCharacter:
          oneOf:
            - $ref: "#/components/schemas/Character"
            - type: "null"

    PlayerDetail:
      type: object
      properties:
        playerId: { type: string }
        displayName: { type: string }
        attendances: { type: integer }
        averagePlacement: { type: number, format: float }
        bestPlacement: { type: integer }
        placements:
          type: array
          description: Oldest first.
          items:
            type: object
            properties:
              eventId: { type: integer }
              eventName: { type: string }
              tournamentName: { type: string }
              label: { type: string }
              startAt: { type: [string, "null"], format: date-time }
              numEntrants: { type: [integer, "null"] }
              placement:
                type: integer
                description: The absolute start.gg placement.
        headToHead:
          type: object
          properties:
            summary:
              type: object
              properties:
                wins: { type: integer }
                losses: { type: integer }
            opponents:
              type: array
              items:
                type: object
                properties:
                  playerId: { type: string }
                  displayName: { type: string }
                  wins: { type: integer }
                  losses: { type: integer }
                  totalSets: { type: integer }
                  winRate: { type: number, format: float }
            timeline:
              type: array
              description: >-
                Head-to-head record per event, oldest first. Lets a client narrow
                the H2H numbers down to a time range without another request.
              items:
                type: object
                properties:
                  eventId: { type: integer }
                  label: { type: string }
                  startAt: { type: [string, "null"], format: date-time }
                  opponents:
                    type: array
                    items:
                      type: object
                      properties:
                        playerId: { type: string }
                        displayName: { type: string }
                        wins: { type: integer }
                        losses: { type: integer }
        characters:
          type: object
          properties:
            totalSelections: { type: integer }
            top:
              type: array
              items: { $ref: "#/components/schemas/Character" }
            timeline:
              type: array
              description: >-
                Character usage per event, oldest first. Lets a client narrow the
                character statistics down to a time range without another request.
              items:
                type: object
                properties:
                  eventId: { type: integer }
                  label: { type: string }
                  startAt: { type: [string, "null"], format: date-time }
                  characters:
                    type: array
                    items:
                      type: object
                      properties:
                        characterId: { type: integer }
                        characterName: { type: string }
                        count: { type: integer }

    RankedDay:
      type: object
      properties:
        active:
          type: boolean
          description: Whether a window is running right now.
        windowId:
          type: string
          description: Stable id of the window the payload describes.
        startsAt: { type: string, format: date-time }
        endsAt: { type: string, format: date-time }
        secondsRemaining:
          type: integer
          description: Until the running window ends, or until the next one starts.
        schedule:
          type: object
          properties:
            anchor: { type: string, format: date-time }
            cycleDays: { type: integer }
            durationHours: { type: integer }
